@font-face {
    font-family: 'Paint'; /* Choose a name for the font */
    src: url('fonts/paint.ttf') format('truetype'); /* Path to your font file */
}

main {
    flex-grow: 1; /* Allows main content to take up available space */
}

body {
    background-color: black;

    margin: 0; /* Remove default body margin */
    min-height: 100vh; /* Ensure body takes full viewport height */
    display: flex;
    flex-direction: column;
}

h1 {
    font-family: 'Paint', sans-serif; /* Apply the custom font */
    color: white;

    letter-spacing: 2px; /* Adjust this value for more or less spacing */

    display: flex; /* Set the display to flex */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */


}

h2 {
    font-family: 'Paint', sans-serif; /* Apply the custom font */
    color: white;

    letter-spacing: 2px; /* Adjust this value for more or less spacing */

    display: flex; /* Set the display to flex */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

h3 {
    font-family: 'Paint', sans-serif; /* Apply the custom font */
    color: white;
    letter-spacing: 2px; /* Adjust this value for more or less spacing */
    display: flex; /* Set the display to flex */

}

p1 {
    color: white;
    font-family: 'Paint', sans-serif; /* Apply the custom font */

}
ul {
    color: white;
    font-family: 'Paint', sans-serif; /* Apply the custom font */
    letter-spacing: 2px; 

}



p {
    color: rgb(32, 32, 32);
    font-family: 'Paint', sans-serif; /* Apply the custom font */
    display: flex; /* Set the display to flex */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */


}


footer {
    /*background-color: #333;*/
    color: white;
    padding: 10px;
    text-align: center;
    
    /* For fixed positioning uncomment the following */
    position: fixed;
    bottom: 0;
    width: 100%;
}

#elapsedTime {
    font-family: 'Paint', sans-serif; /* Apply the custom font */
    font-size: larger;
}

